# .dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.tox/
.coverage
.cache
.git
.gitignore
*.md
tests
# ข้ามไฟล์เทสเสียงหนักๆ (ถ้าไม่อยากให้ Image บวม)
Audio test/
*.mp3
*.wav
